<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dytian.mapper.Jd_orderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Jd_order">
        <id column="id" property="id" />
        <result column="order_no" property="order_no" />
        <result column="if_primary" property="if_primary" />
        <result column="sub_order_no" property="sub_order_no" />
        <result column="user_id" property="user_id" />
        <result column="share_user_id" property="share_user_id" />
        <result column="supplier_id" property="supplier_id" />
        <result column="dis_fee" property="dis_fee" />
        <result column="pay_type" property="pay_type" />
        <result column="c_ticket" property="c_ticket" />
        <result column="c_card" property="c_card" />
        <result column="c_recruit" property="c_recruit" />
        <result column="c_profit" property="c_profit" />
        <result column="c_money" property="c_money" />
        <result column="c_amount" property="c_amount" />
        <result column="address_id" property="address_id" />
        <result column="addr_region" property="addr_region" />
        <result column="addr_detail" property="addr_detail" />
        <result column="addr_name" property="addr_name" />
        <result column="addr_mobile" property="addr_mobile" />
        <result column="create_from" property="create_from" />
        <result column="ext_order_id" property="ext_order_id" />
        <result column="ext_status" property="ext_status" />
        <result column="if_self" property="if_self" />
        <result column="trans_com" property="trans_com" />
        <result column="trans_id" property="trans_id" />
        <result column="trans_trace" property="trans_trace" />
        <result column="trans_fin" property="trans_fin" />
        <result column="trans_time" property="trans_time" />
        <result column="remark" property="remark" />
        <result column="order_status" property="order_status" />
        <result column="if_refund" property="if_refund" />
        <result column="pay_status" property="pay_status" />
        <result column="settle_status" property="settle_status" />
        <result column="create_time" property="create_time" />
        <result column="pay_time" property="pay_time" />
        <result column="ywc_time" property="ywc_time" />
        <result column="update_time" property="update_time" />
        <result column="auditor" property="auditor" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, if_primary, sub_order_no, user_id, share_user_id, supplier_id, dis_fee, pay_type, c_ticket, c_card, c_recruit, c_profit, c_money, c_amount, address_id, addr_region, addr_detail, addr_name, addr_mobile, create_from, ext_order_id, ext_status, if_self, trans_com, trans_id, trans_trace, trans_fin, trans_time, remark, order_status, if_refund, pay_status, settle_status, create_time, pay_time, ywc_time, update_time, auditor
    </sql>

</mapper>
