<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dytian.yuemee.user.mapper.Jd_userMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Jd_user">
        <id column="user_id" property="user_id" />
        <result column="inviter_id" property="inviter_id" />
        <result column="app_wx_id" property="app_wx_id" />
        <result column="open_id" property="open_id" />
        <result column="open_id_wx" property="open_id_wx" />
        <result column="phone" property="phone" />
        <result column="wallet" property="wallet" />
        <result column="nick_name" property="nick_name" />
        <result column="head_icon" property="head_icon" />
        <result column="status" property="status" />
        <result column="create_time" property="create_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, inviter_id, app_wx_id, open_id, open_id_wx, phone, wallet, nick_name, head_icon, status, create_time
    </sql>

</mapper>
