<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dytian.yuemee.user.mapper.User_relationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="User_relation">
        <id column="user_id" property="user_id" />
        <result column="director_id" property="director_id" />
        <result column="cheif_id" property="cheif_id" />
        <result column="inviter_id" property="inviter_id" />
        <result column="level_u" property="level_u" />
        <result column="status" property="status" />
        <result column="inner1" property="inner1" />
        <result column="vip_from" property="vip_from" />
        <result column="cheif_from" property="cheif_from" />
        <result column="director_from" property="director_from" />
        <result column="create_time" property="create_time" />
        <result column="vip_valid_time" property="vip_valid_time" />
        <result column="cheif_valid_time" property="cheif_valid_time" />
        <result column="director_valid_time" property="director_valid_time" />
        <result column="vip_upgrade_time" property="vip_upgrade_time" />
        <result column="cheif_upgrade_time" property="cheif_upgrade_time" />
        <result column="director_upgrade_time" property="director_upgrade_time" />
        <result column="target_level" property="target_level" />
        <result column="update_time" property="update_time" />
        <result column="permission" property="permission" />
        <result column="director_type" property="director_type" />
        <result column="cheif_id_bak" property="cheif_id_bak" />
        <result column="cheif_id_update_time" property="cheif_id_update_time" />
        <result column="cheif_id_status" property="cheif_id_status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, director_id, cheif_id, inviter_id, level_u, status, inner1, vip_from, cheif_from, director_from, create_time, vip_valid_time, cheif_valid_time, director_valid_time, vip_upgrade_time, cheif_upgrade_time, director_upgrade_time, target_level, update_time, permission, director_type, cheif_id_bak, cheif_id_update_time, cheif_id_status
    </sql>

</mapper>
