<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dytian.mapper.Jd_productMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Jd_product">
        <id column="pid" property="pid" />
        <result column="skuid" property="skuid" />
        <result column="sku_name" property="sku_name" />
        <result column="sku_image" property="sku_image" />
        <result column="spuid" property="spuid" />
        <result column="spec" property="spec" />
        <result column="stock" property="stock" />
        <result column="s_id" property="s_id" />
        <result column="on_sale" property="on_sale" />
        <result column="price_ratio" property="price_ratio" />
        <result column="gross_ratio" property="gross_ratio" />
        <result column="rebate_vip" property="rebate_vip" />
        <result column="commission" property="commission" />
        <result column="service_charge" property="service_charge" />
        <result column="market_price" property="market_price" />
        <result column="supply_price" property="supply_price" />
        <result column="ng_price" property="ng_price" />
        <result column="price_invite" property="price_invite" />
        <result column="tag" property="tag" />
        <result column="supplier_bn" property="supplier_bn" />
        <result column="create_time" property="create_time" />
        <result column="sale_amount" property="sale_amount" />
        <result column="shipping_id" property="shipping_id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, skuid, sku_name, sku_image, spuid, spec, stock, s_id, on_sale, price_ratio, gross_ratio, rebate_vip, commission, service_charge, market_price, supply_price, ng_price, price_invite, tag, supplier_bn, create_time, sale_amount, shipping_id
    </sql>

</mapper>
